<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="name">
            <label><b>{{ localize "CONX.Game Settings" }}</b></label>
        </div>
    </header>
	
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Frame --}}
        <div class="frame">

            <table style="border: 0px; background-color: transparent;">
                <tr style="background-color: transparent;">
                    <td class="check"><b>{{ localize "CONX.Light Mode ON" }}</b><input type="checkbox" name="check" {{ checked check }} title=" {{ localize 'CONX.Checking this option enables Light Mode' }}" /></td>
                    <b>{{ localize "CONX.Choose Unisystem Game" }}</b>
                    <td>
                        <select name="choice">
                        {{#select choice }}
                            <option value="CLS">{{ localize "CONX.Classic" }}</option>
                            <option value="CJCWC">&nbsp;&nbsp;{{ localize "CONX.CJ Carella's WitchCraft/SorCellerie" }}</option>
                            <option value="CJCAET">&nbsp;&nbsp;{{ localize "CONX.CJ Carella's Armageddon: the End Times" }}</option>
                            <option value="AFMBE">&nbsp;&nbsp;{{ localize "CONX.All Flesh Must Be Eaten" }}</option>
                            <option value="TP">&nbsp;&nbsp;{{ localize "CONX.Terra Primate" }}</option>
                            <option value="CX2">&nbsp;&nbsp;{{ localize "CONX.Conspiracy X, 2nd Edition" }}</option>

                            <option value="CIN">{{ localize "CONX.Cinematic" }}</option>
                            <option value="BVS">&nbsp;&nbsp;{{ localize "CONX.Buffy: the Vampire Slayer" }}</option>
                            <option value="ARPG">&nbsp;&nbsp;{{ localize "CONX.Angel: the RPG" }}</option>
                            <option value="AOD">&nbsp;&nbsp;{{ localize "CONX.Army of Darkness" }}</option>
                            <option value="COH">&nbsp;&nbsp;{{ localize "CONX.City of Heroes" }}</option>
                            <option value="GOA">&nbsp;&nbsp;{{ localize "CONX.Ghosts of Albion" }}</option>
                            <option value="ES">&nbsp;&nbsp;{{ localize "CONX.Eldritch Skies" }}</option>
<!--
Classic
CJ Carella's WitchCraft/SorCellerie (1996, Myrmidon Press, 1999, Eden Studios/2001, 7e Cercle)
CJ Carella's Armageddon: the End Times (1996, Myrmidon Press, 2003, Eden Studios)
All Flesh Must Be Eaten (1999, Eden Studios)
Terra Primate (2002, Eden Studios)
Conspiracy X, 2nd Edition (2006, Eden Studios)
Cinematic
Buffy: the Vampire Slayer (2002, Eden Studios)
Angel: the RPG (2003, Eden Studios)
Army of Darkness (2005, Eden Studios)
City of Heroes (2005, Eden Studios)
Ghosts of Albion (2007, Eden Studios)
Eldritch Skies (2012, Battlefield Press)
-->
                        {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
		</div>	
    </section>
</form>